.userForm {
  height: 12rem;
}

.userFormLabel {
  margin-bottom: -1rem;
  font-size: 1rem;
  color: rgb(137, 137, 137);
  text-align: left;
}

.userFormElement {
  font-size: 1rem;
  height: 3rem;
  border-radius: 6px;
  padding: 0 10px;
}

.userFormInput {
  border: 1px solid #e0f2f7;
}
